[Desktop Entry]
Name=TwisterOS Updater
Comment=Automatically patches TwisterOS to the latest version
Exec=~/updater/update.sh
Icon=~/updater/updater.jpg
Version=1.0
Type=Application
Categories=Settings
Terminal=true
StartupNotify=false
