[Desktop Entry]
Name=TwisterOS Updater
Comment=Automatically patches TwisterOS to the latest version
Exec=/home/pi/updater/update.sh
Icon=/home/pi/updater/icons/twister-update-dark.png
Version=0.9
Type=Application
Categories=System
Terminal=true
StartupNotify=false
Path=
